In [1]:
import pandas as pd
import numpy as np

In [13]:
df_ger = pd.read_csv('df_geracao_pb_75_ufv_eol.csv')
df_ger

,Empreendimento,Tipo de Geração,Potência Outorgada (kW),Latitude,Longitude,DscMuninicpios
0,Millennium,EOL,10200.0,"-6,49388892","-34,97194437",Mataraca - PB
1,Vitória,EOL,4500.0,"-6,55729634","-35,01469355",Mataraca - PB
2,Presidente,EOL,4800.0,"-6,57467434","-34,97603911",Mataraca - PB
3,Camurim,EOL,4800.0,"-6,55759639","-34,97205771",Mataraca - PB
4,Albatroz,EOL,4800.0,"-6,54751670","-34,96801217",Mataraca - PB
...,...,...,...,...,...,...
68,Supermercado Guedes,UFV,300.0,"-7,02821081","-37,28153611",Patos - PB
69,LAMINOR_UFV,UFV,140.0,-6.3265408967843975,-37.70878547301616,Catolé do Rocha - PB
70,ITATEX,UFV,108.0,-7.3283816143434874,-38.141135299999995,Itaporanga - PB
71,HUMAITA I,UFV,200.0,-7.212568818951673,-34.85277052883603,João Pessoa - PB
72,LAMINOR MATRIZ AUTOPRODUTOR,UFV,200.0,-6.3265408967843975,-37.70874255767205,Catolé do Rocha - PB

In [10]:
df_eolica = pd.read_excel('perdas_restricao_estado_eolica_PB.xlsx')

In [11]:
df_eolica = df_eolica.drop(columns=['id_estado'])
df_eolica

,nom_usina,val_geracao,energia_gerada_possivel,Perdas_Geração_Restrição_Sistema
0,CONJ. CHAFARIZ NORTE,1.852486e+06,1.865523e+06,13036.8035
1,CONJ. CHAFARIZ SUL I,1.785853e+06,1.796233e+06,10379.8415
2,CONJ. CHAFARIZ SUL II,2.188965e+06,2.198010e+06,9044.6015
3,CONJ. SERRA DO SERIDÓ,2.588225e+06,2.619163e+06,30937.0285
4,NaN,NaN,NaN,63398.2750

In [9]:
df_solar = pd.read_excel('perdas_restricao_estado_fotovoltaica_PB.xlsx')
df_solar = df_solar.drop(columns=['id_estado'])
df_solar

,nom_usina,val_geracao,energia_gerada_possivel,Perdas_Geração_Restrição_Sistema
0,CONJ. LUZIA,200102.5195,205129.9115,5027.3920
1,CONJ. RIO ALTO,385759.2610,394020.7970,8261.5360
2,CONJUNTO FOTOVOLTAICO SANTA LUZIA II 500KV,383279.4755,392863.0490,9583.5735
3,NaN,NaN,NaN,22872.5015

In [ ]:
# Dicionário mapeando os empreendimentos às suas coordenadas
coordenadas = {
    "LAMINOR_UFV": (-6.3265408967843975, -37.70878547301616),
    "ITATEX": (-7.3283816143434874, -38.141135299999995),
    "HUMAITA I": (-7.212568818951673, -34.85277052883603),
    "LAMINOR MATRIZ AUTOPRODUTOR": (-6.3265408967843975, -37.70874255767205)
}